.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.noFile,
.nothing {
    padding: 1rem;
    color: darkred;
    font-weight: bold;
    font-style: italic;
}

.headerFiller {
    width: 100%;
}
.headerInputWrapper {
    margin-bottom: 1rem;
}
