.container {
    display: inline-flex;
    gap: 0.25rem;
    label {
        align-self: center;
    }
}

.combobox {
    display: flex;
    input {
        flex-grow: 1;
        field-sizing: content;
    }
}

.menu {
    margin: 0;
    inset: auto;
    bottom: 1rem;
    top: calc(anchor(bottom) + 0.25rem);
    right: calc(anchor(right));
    height: auto;
    justify-self: anchor-center;
    overflow: scroll;
    background: none;
    border-style: none;
    border-top-style: solid;
    padding: 0;

    text-align: left;

    ul {
        display: block;
        margin: 0;
        padding: 0.25rem;
        background-color: canvas;
        border-style: solid;
        border-top-style: none;
        box-shadow:
            0 4px 6px -1px #0000001a,
            0 2px 4px -2px #0000001a;
    }

    li {
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        box-shadow: 0 1px 2px 0 #0000000d;
        /* margin-left: attr(data-level rem); // only works in Chrome */
        &.placeHolderItem {
            font-style: italic;
        }
        &[data-is-folder] {
            font-size: smaller;
            color: #777;
        }
        &[data-level="1"] {
            padding-left: 1rem;
        }
        &[data-level="2"] {
            padding-left: 2rem;
        }
        &[data-level="3"] {
            padding-left: 3rem;
        }
        &[data-level="4"] {
            padding-left: 4rem;
        }
        &[data-level="5"] {
            padding-left: 5rem;
        }
        &[data-level="6"] {
            padding-left: 6rem;
        }
        &[data-level="7"] {
            padding-left: 7rem;
        }
        &[data-level="8"] {
            padding-left: 8rem;
        }
        &[data-level="9"] {
            padding-left: 9rem;
        }
        &[data-level="10"] {
            padding-left: 10rem;
        }
        &[data-level="11"] {
            padding-left: 11rem;
        }
        &[data-level="12"] {
            padding-left: 12rem;
        }
        &[data-level="13"] {
            padding-left: 13rem;
        }
        &[data-level="14"] {
            padding-left: 14rem;
        }
        &[data-level="15"] {
            padding-left: 15rem;
        }
        &[data-level="16"] {
            padding-left: 16rem;
        }
    }
}

.highlightedItem {
    background-color: #bde4ff;
}

.selectedItem {
    font-weight: bolder;
}
