.layout {
    display: grid;
    grid-template-areas:
        "header  header"
        "sidebar main"
        ".       main";
    gap: 1rem;
    margin: 0.5rem;
}

.layoutHeader {
    grid-area: header;
    margin: 0.5rem;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    background-color: #fffffff0;
    z-index: 9;
}

.layoutMain {
    grid-area: main;
    overflow-y: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.layoutSidebar {
    grid-area: sidebar;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 18rem;
    position: sticky;
    z-index: 11;
    top: 0;
    overflow: scroll;
    max-height: 100vh;
}
